h1.header {
    margin-top:1.6em;
}

pre {
    overflow:auto;
    margin:0;
    padding:.66em 0;
}
textarea.visually-hidden {
    position:absolute;
    left:-100%;
}

h5 {
    margin-top:1.6em
}
.tabs .tab a{
    color:#1E88E5 ; /* .blue.darken-1 */
}

.tabs .tab a.active, .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color:rgb(249, 252, 255);
    color:#42A5F5; /* .blue.lighten-1*/ 
}

.tabs .tab a:hover {
    color:#42A5F5 ; /* .blue.lighten-1*/ 
    background-color:transparent;
}

.tabs .indicator {
    background-color:#64B5F6; /* .blue.lighten-2 */
}