<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <style>
            pre.bash {
              background-color: black;
              color: #49fb35;
              font-size: small;
              font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
              overflow: auto;
              word-wrap: normal;
              white-space: pre;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
          <a class="navbar-brand" href="/">gangway</a>
          <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
	    <ul class="nav navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="container">
           <h2>Welcome {{ .Username }}.</h2>
	   <p class="lead">
           In order to get command-line access to the {{ .ClusterName }} Kubernetes cluster, you will need to configure OpenID Connect (OIDC) authenication for your client.

	   The Kubernetes command-line utility, kubectl, may be installed like so:
	   </p>
           <pre class="bash">
$ curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/$(uname | awk '{print tolower($0)}')/amd64/kubectl
$ chmod +x ./kubectl
$ sudo mv ./kubectl /usr/local/bin/kubectl
           </pre>
           <p class="lead">
	       Once kubectl is installed, you may execute the following:
           </p>
           <pre class="bash">
$ kubectl config set-credentials {{ .Email }}  \
    --auth-provider=oidc  \
    --auth-provider-arg=idp-issuer-url={{ .IssuerURL }}  \
    --auth-provider-arg=client-id={{ .ClientID }}  \
    --auth-provider-arg=refresh-token={{ .RefreshToken }} \
    --auth-provider-arg=id-token={{ .IDToken }}
           </pre>
        </div>
    </body>
</html>
