<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <style>
            pre.bash {
              background-color: black;
              color: #49fb35;
              font-size: small;
              font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
              overflow: auto;
              word-wrap: normal;
              white-space: pre;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
          <a class="navbar-brand" href="/">gangway</a>
        </nav>
        <div class="container">
           <h2>Configure Kubernetes Authentication</h2>
           <p class="lead">
	   This utility will help you authenticate with your Kubernetes cluster with an OpenID Connect (OIDC) flow. Sign in to get started.
	   </p>
           <a class="btn btn-primary btn-lg btn-block" href="/login">Sign In</a>
        </div>
    </body>
</html>
