<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Heptio Gangway</title>
    <base href="{{ .HTTPPath }}/">
    <link type="text/css" rel="stylesheet" href="assets/materialize.min.css"  media="screen"/>
    <link type="text/css" rel="stylesheet" href="assets/gangway.css" media="screen"/>
</head>

<body>
    <nav class="light-blue blue">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">gangway</a>
        </div>
    </nav>
    

    <div class="container">
        <h1 class="center header">Heptio Gangway Kubernetes Authentication</h1>
        <p class="flow-text center">This utility will help you authenticate with your Kubernetes cluster with an OpenID Connect (OIDC) flow. Sign in to get started.</p>
        <p class="center">
                <a href="{{ .HTTPPath }}/login" class="waves-effect waves-light btn-large blue">Sign in</a>
        </p>
    </div>

    <script type="text/javascript" src="assets/materialize.min.js"></script>
</body>
</html>
