apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ .ClusterCA | base64enc }}
    server: "{{ .APIServerURL }}"
  name: {{ .ClusterName }}
contexts:
- context:
    cluster: {{ .ClusterName }}
    user: {{ .Email }}
  name: {{ .ClusterName }}
current-context: {{ .ClusterName }}
kind: Config
preferences: {}
users:
- name: {{ .Email }}
  user:
    auth-provider:
      config:
        client-id: {{ .ClientID }}
        client-secret: {{ .ClientSecret }}
        id-token: {{ .IDToken }}
        idp-issuer-url: {{ .IssuerURL }}
        refresh-token: {{ .RefreshToken }}
      name: oidc
